.navStyle{
    background-color: rgba(81, 129, 190, 0.733);
    margin-bottom: 1rem;
    
    }
    
    .navText{
    font-size: 2.55rem;
    /* padding-left: 7.5rem; */
    text-shadow: 2px 2px whitesmoke;
    
    }
    
    .menuText{
        font-size: 1.15rem;
        font-weight: 700;
        margin-right: 2rem;
    }
    b{
        font-size: 1.35rem;
        
    }
    .fontFam{
        font-family: 'Cormorant Unicase', serif;
        color:rgb(44, 42, 42);
    }
    
    #icon{
    margin: 0px 10px;
    
    }
    
    .inputSpacing{
        margin: 0px 10px;
    }
    
    
    #loading_container{
        display: none; 
        width: 200px;
        margin-top: 1%;
        margin-left: 45%;
        margin-right: auto;
        
    }  
    
    .labelStyle{
        border-bottom:2px solid rgb(44, 42, 42);
    }
    
    #company_container{
        margin-top: 2rem;
        font-size: 1.25rem;
    }
    
    .btnText{
        font-size: 1rem;
    }
      
    .getBtn{
        background-color:rgba(81, 128, 190, 0.562); ;
    }
    
    .getBtn:hover{
        border: 3px solid 3px rgba(81, 129, 190, 0.733);
        background-color:rgba(104, 141, 189, 0.281);
        box-shadow:  0px 0px 11px 4px rgba(81, 129, 190, 0.733);
        cursor: pointer;
    
    }
    .dlBtn{
        background-color: rgba(111, 196, 111, 0.815);
    }
    
    .dlBtn:hover{
        border: 3px solid 3px rgba(111, 196, 111, 0.815);
        background-color:rgba(131, 199, 131, 0.281);
        box-shadow:  0px 0px 11px 4px rgba(111, 196, 111, 0.815);
        cursor: pointer;
    }
    
    #chartContainer{
        height: 300px; 
        width: 70%; 
        margin-top: 5%;
        margin-left: 13%;
        margin-right: auto;
    
    }
      
    #download_data{
        display: none;
        margin-left: 1rem;
        
    }
     
    #tableTitle{
        font-weight: bold;
        font-size: larger;
        text-align: center;
        margin-bottom: 1%;
        padding-top: 1.15rem;
        background-color:white;

    }
    
    #table_container{
        margin-left: 30px;
        margin-top: 5%;
        width: 100%;
        margin-right: 20px;
        
    }
    
    table{
    margin-left: 20%;
    margin-right: 0;    
    }
      

    .mainContainer{
        max-width: 100%;
        max-width: 100%;
        background-image: url("../images/mainImage.png") ;
        background-size:auto;
        background-size: cover;
        background-repeat: no-repeat;
        image-rendering: optimizeQuality;
        
       
    }


