h1 {
    margin-top: -2rem;
    font-family: 'Varela Round', sans-serif;
    font-size: 4rem;
    font-weight: 600;
}
p,
a {
    font-family: 'Montserrat', sans-serif;
}
h3,
h4,
h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.jumbotron {
    background-color: #0062CC;
    color: rgb(255, 255, 255);
    height: 4rem;
    margin-bottom: 0px;
}
.low {
    border-radius: 6px;
    background-color: green;
    padding: 5px;
    color: white;
}
.moderate {
    border-radius: 6px;
    background-color: yellow;
    padding: 5px;
    color: black;
}
.high {
    border-radius: 6px;
    background-color: orange;
    padding: 5px;
    color: black;
}
.vhigh {
    border-radius: 6px;
    background-color: red;
    padding: 5px;
    color: white;
}
.extreme {
    border-radius: 6px;
    background-color: violet;
    padding: 5px;
    color: white;
}
.searchCol {
    height: 100vh;
    background-color: whitesmoke;
    padding-top: 1rem;
    padding-right: 2rem;
    margin-right: -1rem;
}